
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-xl-square {
    width: 66px;
    height: 66px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    color: var(--bs-white);
    border: none;
}

.btn.btn-light {
    color: var(--bs-primary);
    border: none;
}

.nav-bar {
    background: var(--bs-white);
}

.sticky-top {
    transition: 1s;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    letter-spacing: 1px;
    color: var(--bs-dark);
    font-size: 17px;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top .navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--bs-dark);
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top .navbar-light .navbar-brand img {
    max-height: 50px;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    border: 0;
    border-radius: 10px;
    margin-top: 8px !important;
    transition: .5s;
    opacity: 0;
    }
}

@media (max-width: 991px) {
    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 8px 15px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }

    .sticky-top .navbar-light .navbar-nav .nav-link {
        padding: 12px 0;
    }
}

.header-carousel .header-carousel-item img {
    object-fit: cover;
}


@media (min-width: 1200px) {
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        height: 700px;
    }
}

@media (max-width: 1199px) {
    .header-carousel .header-carousel-item,
    .header-carousel .header-carousel-item img {
        height: 1200px;
    }
}

.header-carousel .owl-nav .owl-prev {
    display: none;
}

.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: -60px;
    right: 50%;
    transform: translateY(-50%);
    margin-right: -60px;
    border-radius: 60px;
    background: var(--bs-primary);
    color: var(--bs-white);
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 0 0 100px 0 var(--bs-light);
    color: var(--bs-primary);
}

.header-carousel .owl-nav .owl-next i {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: carousel-next-btn;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition: 1s;
}

@keyframes carousel-next-btn {
    0%  {margin-top: 35%;}
    50%  {margin-bottom: 70%;}
    100% {margin-top: 35%;}
}

.header-carousel .header-carousel-item .carousel-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
}

.carousel-caption .ticket-form {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.header-carousel .header-carousel-item img {
    animation-name: image-zoom;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 1s;
}

@keyframes image-zoom {
    0%  {width: 100%; height: 100%;}

    25% {width: 115%; height: 115%;}

    50% {width: 130%; height: 130%;}

    75% {width: 120%; height: 120%;}

    100% {width: 100%; height: 100%;}
}

.bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 60px 0;
    transition: 0.5s;
}

.bg-breadcrumb .breadcrumb {
    position: relative;
}

.bg-breadcrumb .breadcrumb .breadcrumb-item a {
    color: var(--bs-white);
}

.feature .feature-item {
    position: relative;
    border-radius: 10px;
    background: var(--bs-light);
}

.feature-item .feature-content {
    position: absolute;
    width: 100%; 
    height: 100%; 
    bottom: 0; 
    left: 0;
    margin-top: 0;
    margin-right: 0; 
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    z-index: 2;
}

.feature-item .feature-content .feature-content-inner {
    position: relative;
    z-index: 5;
}

.footer {
    background: var(--bs-dark);
}

.footer .footer-item {
    display: flex;
    flex-direction: column;
}

.footer .footer-item a {
    line-height: 35px;
    color: var(--bs-body);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    color: var(--bs-primary);
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
    transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
    background: var(--bs-white);
}

.footer .footer-item .footer-btn a:hover i {
    color: var(--bs-primary);
}

.footer .footer-item .opening-date {
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.footer .footer-item .opening-date .opening-clock {
    display: flex;
    align-items: center;
    line-height: 35px;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: var(--bs-dark);
}